@model Rocky.ViewModels.HomeVM;

<div class="container">
	<div class="text-center">
		<button class="btn btn-dark filter-button" data-filter="all">All</button>

		@foreach (var category in Model.Categories)
		{
			<button class="btn btn-outline-secondary filter-button" dalta-filter="@category.Name.Replace(' ', '_')">
				@category.Name
			</button>
		}
	</div>
	<br />

	<div class="row">
		@foreach(var product in Model.Products)
		{
			// display all products
			<partial name="_ProductCard" model="product" />
		}
	</div>

</div>
