@using Rocky.Utility
@model Rocky.ViewModels.ProductVM;

@{
    string title = "Create Product";
}

<form method="post"
      enctype="multipart/form-data">
    @*Needed for images in the form to work*@

    @if (Model.Product.Id > 0)
    {
        title = "Add Product";
        <input asp-for="Product.Id" type="hidden" />
    }

    <div class="border p-3 m-3 bg-white">

        <div asp-validation-summary="ModelOnly" class="text-danger" />

        <div class="form-group row">
            <h2 class="text-info pl-3">@title</h2>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="Product.Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.Name" class="form-control" />
                        <span asp-validation-for="Product.Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="Product.Price"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.Price" class="form-control" />
                        <span asp-validation-for="Product.Price" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="Product.ShortDescription"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.ShortDescription" class="form-control" />
                        <span asp-validation-for="Product.ShortDescription" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="Product.Description"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="Product.Description" class="form-control tinymce"></textarea>
                        <span asp-validation-for="Product.Description" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="Product.Image"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.Image" type="file" name="files" id="uploadBox" multiple class="form-control" />
                        <span asp-validation-for="Product.Image" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="Product.CategoryId"></label>
                    </div>
                    @*DROP DOWN MENU*@
                    <div class="col-8">
                        @*<select asp-for="CategoryId" asp-items="@ViewData["CategoryDropDown"] as IEnumerable<SelectListItem>" class="form-control">*@
                        @*<select asp-for="Product.CategoryId" asp-items="@ViewBag.CategoryDropDown" class="form-control">*@
                        <select asp-items=@Model.CategorySelectList asp-for=Product.CategoryId class="form-select">
                            <option disabled selected>-- Select Category --</option><
                        </select>
                        <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="Product.ApplicationTypeId"></label>
                    </div>
                    @*DROPDOWN MENU*@
                    <div class="col-8">
                        <select asp-items=@Model.ApplicationTypeSelectList asp-for=Product.ApplicationTypeId class="form-select">
                            <option disabled selected>-- Select Application Type --</option><
                        </select>
                        <span asp-validation-for="Product.ApplicationTypeId" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row py-2">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            @if (Model.Product.Id > 0)
                            {
                                // Update
                                <input type="submit" class="btn btn-info w-100" value="Update" />
                            }
                            else
                            {
                                // Create
                                <input type="submit" onclick="return validateImageInput()" class="btn btn-info w-100" value="Create" />
                            }
                        </div>

                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100"><i class="fas fa-sign-out-alt mx-2"></i>Back</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-4">
                @if (Model.Product.Id > 0)
                {
                    <img src="@WebConstants.Paths.ProductImages@Model.Product.Image" width="100%" style="border-radius: 10px; border: 1px solid #bbb" />
                }
            </div>

        </div>
    </div>

</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }

    <script>

        function validateImageInput() {
            if (document.getElementById("uploadBox").value == "") {
                Swal.fire(
                    'Error!',
                    'Please upload an image!',
                    'error'
                )
                return false;
            } else {
                return true;
            }
        }

        // TinyMce Initializer
        tinymce.init({
            selector: '.tinymce'
        });

    </script>
}


